<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56798055-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-56798055-1');
  </script>


  <meta charset="utf-8" />
  <meta name="author" content="Fredrik Danielsson, http://lostkeys.se">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if meta.description %}
    <meta name="description" content="{{ meta.description|striptags }}">
  {% endif %}
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
  <link rel="stylesheet" href="{{ theme_url }}/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="{{ theme_url }}/styles/highlightjs-github.css" type="text/css" />
  {% for css_file in config.external_css %}
    <link rel="stylesheet" href="{{ css_file }}" type="text/css" />
  {% endfor %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 


  <link rel="stylesheet" href="/assets/magnific-popup.css">
  <script src="/assets/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/jquery.magnific-popup.min.js"></script>
  <script src="/assets/jquery-ui.js"></script>

</head>
<body>
<div class='the_site_title'>{{site_title}}</div>

<aside class="main-nav">

<nav>
  <div id='site_title_container'>
   <!-- <div id='the_site_title'><a href="/">{{site_title}}</a></div>-->
  </div>

  <div id='toc_spacer'></div>
  
  <ul class="toc">

    <span class='nav_semititle'>Contents</a></span>
    <li><a href="/">About me</a></li>
    <li><a href="/graphs">Graph Blog</a></li>
    <li><a href="/cv">CV</a></li>
    <li><a href="/contact">Contact</a></li>
    
    <hr/>
    
    <span class='nav_semititle'>
      <a href="/projects">Research projects</a>
    </span>

    <li class='toplevel'><a href="/projects/abstraction">Abstraction: A Literary History</a>
      <ul>
        <li class='lowlevel'><a href="/assets/talks/kingscollege2020" target="_blank">[Talk/slides on immateriality]</a></li>
      </ul>
    </li>

    <li class='toplevel'><a href="/projects/keydata">Keydata Project</a>
      <ul><li class='lowlevel'><a href="http://keydataproject.org" target="_blank">[Tools for conceptual history]</a></li></ul>
    </li>
    

    <!--
    <li class='toplevel'><a href="/projects/prosody">Computational Prosody</a>
      <ul>
        <li class='lowlevel'><a href="/projects/prose-rhythm">Prose rhythm</a></li>
        <li class='lowlevel'><a href="/projects/poetry">Historical metrics</a></li>
      </ul>
    </li>

    <li class='toplevel'><a href="/projects/personhood">Personhood Project</a>
      <ul>
        <li class='lowlevel'><a href="/projects/animacy">Animacy</a></li>
        <li class='lowlevel'><a href="/projects/personification">Personification</a></li>
      </ul>
    </li>
    -->

    <li class='toplevel'><a href="/word-vectors">Word Vectors in the 18th Century</a>
    <ul>
      <li class='lowlevel'><a href="/word-vectors-1">1. Concepts</a></li>
      <li class='lowlevel'><a href="/word-vectors-2">2. Methods</a></li>
      <li class='lowlevel'><a href="/assets/storyscroll/word-vectors-3" target='_blank'>3. From fields to vectors</a></li>
      <li class='lowlevel'><a href="/assets/storyscroll/word-vectors-4" target='_blank'>4. Semantic networks</a></li>
    </ul>
    </li>

    <hr/>

    <span class='nav_semititle'>Appendix</span>
    <!-- <li><a href="/data">Data</a></li> -->
    <li><a href="/tools">Tools</a></li>
    <li><a href="http://github.com/quadrismegistus/literarytextmining" targeet="_blank">Teaching</a></li>
  </ul>
</nav>
</aside>


<main class="main-content">
  <article class="article">
  {{ content }}
  </article>
</main>
<nav class="page-toc">
  <ul id="page-toc-container"></ul>
</nav>

<script src="{{ theme_url }}/scripts/highlight.js"></script>
<script src="{{ theme_url }}/scripts/mousetrap.min.js"></script>
<script src="{{ theme_url }}/scripts/clipboard.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();

  document.querySelectorAll('.menuitem a').forEach(function(el) {
    if (el.getAttribute('data-shortcut').length > 0) {
      Mousetrap.bind(el.getAttribute('data-shortcut'), function() {
        location.assign(el.getAttribute('href'));
      });
    }
  });

  /**
   * Generate page table of contents
   *
   * Get all H2 elements and render them in a list
  **/
  function generatePageTOC() {
    var tocContainer = document.getElementById('page-toc-container');

    document.querySelectorAll('.article h2').forEach(function(el, index) {
      // Insert a marker since anchor links breaks with css position sticky
      // sticky headers upwards are stacked at the top of the viewport
      // and therefore cannot be jumped to since they are already visible
      // Instead inject a hidden element to use as a scroll marker
      el.insertAdjacentHTML('beforebegin', '<i id="page-toc-'+index+'" class="page-toc-scroll-marker">TOC marker</i>');

      var newTocNavItem = document.createElement('li');
      var newTocNavItemLink = document.createElement('a');
      var newTocNavItemText = document.createTextNode(el.textContent);

      newTocNavItemLink.setAttribute('href', '#page-toc-' + index);
      newTocNavItemLink.appendChild(newTocNavItemText);
      newTocNavItem.appendChild(newTocNavItemLink);
      tocContainer.appendChild(newTocNavItem);
    });
  }
  generatePageTOC();

  /**
   * Copy to clipboard
   *
   * Powered by https://clipboardjs.com
  **/

  new ClipboardJS('.copy-to-clipboard-btn');

  // Attach id attribute to all pre > code elements and append a button
  document.querySelectorAll('pre code').forEach(function(el, index) {
    el.setAttribute('id', 'code-block-' + index);
  });

  // Add copy-to-clipboard buttons. Begin by wrapping all pre elements in a div...
  document.querySelectorAll('pre').forEach(function(el, index) {

    // Create the wrapper div and apply classes on it
    var wrapper = document.createElement('div');
    wrapper.classList.add('code-block-container');

    // Place the wrapper div before the pre element
    el.parentNode.insertBefore(wrapper, el);

    // Move the pre element inside the wrapper div
    wrapper.appendChild(el);

    // Append a copy to clipboard button after each code block
    wrapper.insertAdjacentHTML('beforeend', `
      <button type="button" class="copy-to-clipboard-btn" data-clipboard-target="#code-block-${index}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0H24V24H0z"/><path fill="currentColor" d="M13 11L11 11 11 14 8 14 8 16 11 16 11 19 13 19 13 16 16 16 16 14 13 14z"/><path fill="currentColor" d="M19 5h-2V3h-1.142c-.447-1.72-2-3-3.858-3S8.589 1.28 8.142 3H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zm-7-3c.739 0 1.385.402 1.731 1h-3.463c.347-.598.993-1 1.732-1zM9 5h6v2H9V5zm10 16H5V7h2v2h10V7h2v14z"/></svg>
      </button>
    `);
  });
</script>





<script>
$(function() {
  $('.popup-link').magnificPopup({
    type:'image'
  })
})
</script>



</body>
</html>
